.cartItem {
  padding: var(--base--spaces--7) 0;
  border-bottom: 1px solid var(--base--color--grey-5);
  display: grid;
  grid-template-columns: 80px 1fr 1fr 200px 40px;
  align-items: center;
  column-gap: var(--base--spaces--4);
  @media screen and (max-width: 1024px) {
    grid-template-columns: 80px 1fr 1fr 100px 40px;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 40px 1fr 1fr 100px 40px;
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 80px 1fr 1fr 40px;
  }
  button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
}

.cartItemImage {
  display: block;
  @media screen and (max-width: 576px) {
    grid-column-start: 1;
  }
  img {
    max-width: 100%;
  }
}

.cartItemName {
  @media screen and (max-width: 576px) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  h4 {
    color: rgba(0, 0, 0, 0.7);
    line-height: 1;
    padding-bottom: var(--base--spaces--2);
  }
  p {
    font-size: var(--base--font--size-lg);
    margin-bottom: 0;
    color: var(--base--color--grey-7);
    @media screen and (max-width: 768px) {
      font-size: var(--base--font--size);
    }
  }
}

.cartItemCount {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    &:disabled {
      svg {
        color: var(--base--color--grey-1);
      }
    }
  }
  span {
    line-height: 1;
    font-size: 22px;
    font-weight: 700;
    margin: 0 var(--base--spaces--2);
    @media screen and (max-width: 768px) {
      font-size: var(--base--font--size-md);
    }
  }
  svg {
    font-size: 22px;
    color: var(--base--color--orange);
    @media screen and (max-width: 768px) {
      font-size: var(--base--font--size-md);
    }
  }
}

.cartItemPrice {
  span {
    font-size: 22px;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: var(--base--font--size-md);
    }
  }
}

.cartItemRemove {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  @media screen and (max-width: 576px) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
  }
  .btnRemove {
    opacity: 1;
    svg {
      font-size: 28px;
      color: var(--base--color--grey-7);
      transition: all, 0.4s ease-in-out;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
    &:hover {
      svg {
        color: var(--base--color--black);
      }
    }
  }
}
