.filterWrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin: 0 0 var(--base--spaces--8);
  padding: var(--base--spaces--1) 0;
  position: sticky;
  top: 0;
  z-index: 100;
  @media (max-width: 1100px) {
    grid-template-columns: repeat(1, 1fr);
    justify-content: flex-start;
    row-gap: var(--base--spaces--8);
  }
}

.categoriesWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  justify-content: flex-start;
  grid-gap: var(--base--spaces--4);
  @media (max-width: 1100px) {
    justify-content: center;
  }
}
