.cartPage {
  width: 1200px;
  max-width: 98%;
  margin: 0 auto;
  padding: var(--base--spaces--13) 0;
}

.emptyCart {
  text-align: center;
  &__image {
    margin-bottom: 30px;
    img,
    svg {
      max-width: 450px;
      width: 100%;
    }
  }
}
