* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: calc(100vh - 50px);
  color: var(--base--color--black);
  background-color: var(--base--color--yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: var(--base--spaces--5);
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: var(--base--color--black);
}

h1 {
  font-size: var(--base--font--size--h1);
}

h2 {
  font-weight: 600;
  font-size: var(--base--font--size--h2);
  line-height: 30px;
}

h3 {
  font-size: var(--base--font--size--h3);
}

h4 {
  font-size: var(--base--font--size--h4);
}

h5 {
  font-size: var(--base--font--size--h5);
}

p {
  font-size: var(--base--font--size);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base--color--orange);
  border-radius: 2px;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently                              supported by Chrome, Opera and Firefox */
}
