:root {
  //colors
  --base--color--red: #f80b0b;
  --base--color--red-2: #f14b4b;
  --base--color--green: #3bd40d;
  --base--color--green-2: #6eee47;
  --base--color--orange: #fe5f1e;
  --base--color--orange-2: #f8763a;
  --base--color--yellow: #ffdf8c;
  --base--color--grey: #f6f6f6;
  --base--color--grey-2: #f9f9f9;
  --base--color--grey-3: #f7f7f7;
  --base--color--grey-4: #f3f3f3;
  --base--color--grey-5: #f4f4f4;
  --base--color--grey-6: #b6b6b6;
  --base--color--grey-7: #8d8d8d;
  --base--color--black: #232323;
  --base--color--black-2: #383838;
  --base--color--white: #fff;

  //container
  --base--container--widht: 90%;

  //spaces
  --base--spaces--1: 4px;
  --base--spaces--2: 8px;
  --base--spaces--3: 12px;
  --base--spaces--4: 16px;
  --base--spaces--5: 20px;
  --base--spaces--6: 24px;
  --base--spaces--7: 28px;
  --base--spaces--8: 32px;
  --base--spaces--9: 36px;
  --base--spaces--10: 40px;
  --base--spaces--11: 44px;
  --base--spaces--12: 48px;
  --base--spaces--13: 50px;

  //font sizes
  --base--font--size-sm: 12px;
  --base--font--size: 14px;
  --base--font--size-md: 16px;
  --base--font--size-lg: 18px;
  --base--font--size--h1: 48px;
  --base--font--size--h1-md: 40px;
  --base--font--size--h1-sm: 34px;
  --base--font--size--h2: 34px;
  --base--font--size--h2-md: 32px;
  --base--font--size--h2-sm: 30px;
  --base--font--size--h3: 32px;
  --base--font--size--h3-md: 30px;
  --base--font--size--h3-sm: 28px;
  --base--font--size--h4: 28px;
  --base--font--size--h4-md: 26px;
  --base--font--size--h4-sm: 24px;
  --base--font--size--h5: 20px;

  //sizes
  --base--logo-size: 60px;
  --base--logo-size-md: 40px;
  --base--logo-size-sm: 30px;
}
