.spinnerController {
  @keyframes ldioXiup40jhy1 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .ldioXiup40jhy1 div {
    box-sizing: border-box !important;
  }
  .ldioXiup40jhy1 > div {
    position: absolute;
    width: 84.86999999999999px;
    height: 84.86999999999999px;
    top: 61.065px;
    left: 61.065px;
    border-radius: 50%;
    border: 6.209999999999999px solid #000;
    border-color: var(--base--color--orange) transparent var(--base--color--orange) transparent;
    animation: ldioXiup40jhy1 2.0408163265306123s linear infinite;
  }

  .ldioXiup40jhy1 > div:nth-child(2),
  .ldioXiup40jhy1 > div:nth-child(4) {
    width: 68.30999999999999px;
    height: 68.30999999999999px;
    top: 69.345px;
    left: 69.345px;
    animation: ldioXiup40jhy1 2.0408163265306123s linear infinite reverse;
  }
  .ldioXiup40jhy1 > div:nth-child(2) {
    border-color: transparent #45464a transparent #45464a;
  }

  .dark .ldioXiup40jhy1 > div:nth-child(2) {
    border-color: transparent #fff transparent #fff;
  }
  .ldioXiup40jhy1 > div:nth-child(3) {
    border-color: transparent;
  }
  .ldioXiup40jhy1 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldioXiup40jhy1 > div:nth-child(3) div:before,
  .ldioXiup40jhy1 > div:nth-child(3) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 6.209999999999999px;
    height: 6.209999999999999px;
    top: -6.209999999999999px;
    left: 33.12px;
    background: var(--base--color--orange);
    border-radius: 50%;
    box-shadow: 0 78.66px 0 0 var(--base--color--orange);
  }
  .ldioXiup40jhy1 > div:nth-child(3) div:after {
    left: -6.209999999999999px;
    top: 33.12px;
    box-shadow: 78.66px 0 0 0 var(--base--color--orange);
  }

  .ldioXiup40jhy1 > div:nth-child(4) {
    border-color: transparent;
  }
  .ldioXiup40jhy1 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldioXiup40jhy1 > div:nth-child(4) div:before,
  .ldioXiup40jhy1 > div:nth-child(4) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 6.209999999999999px;
    height: 6.209999999999999px;
    top: -6.209999999999999px;
    left: 24.839999999999996px;
    background: #45464a;
    border-radius: 50%;
    box-shadow: 0 62.099999999999994px 0 0 #45464a;
  }
  .dark .ldioXiup40jhy1 > div:nth-child(4) div:before,
  .ldioXiup40jhy1 > div:nth-child(4) div:after {
    background: #fff;
    box-shadow: 0 62.099999999999994px 0 0 #fff;
  }
  .ldioXiup40jhy1 > div:nth-child(4) div:after {
    left: -6.209999999999999px;
    top: 24.839999999999996px;
    box-shadow: 62.099999999999994px 0 0 0 #45464a;
  }
  .dark .ldioXiup40jhy1 > div:nth-child(4) div:after {
    box-shadow: 62.099999999999994px 0 0 0 #fff;
  }
  .loadingioSpinnerDoubleRing9cvpyj0e2mm {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .ldioXiup40jhy1 {
    width: 207px;
    height: 207px;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldioXiup40jhy1 div {
    box-sizing: content-box;
  }
}
