.header {
  padding: var(--base--spaces--6) var(--base--spaces--10);
  border-bottom: 1px solid var(--base--color--grey-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: var(--base--spaces--6);
  position: relative;
  @media (max-width: 1100px) {
    margin-bottom: var(--base--spaces--4);
  }
  @media (max-width: 768px) {
    justify-content: center;
  }
  @media (max-width: 645px) {
    padding: var(--base--spaces--4) var(--base--spaces--4);
    margin-bottom: var(--base--spaces--3);
  }
  .leftHeader {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 30px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
      grid-gap: 15px;
      flex-basis: 100%;
      margin-bottom: 20px;
      > div {
        margin: 0 auto;
      }
    }
  }
}
