.header {
  padding: var(--base--spaces--6) var(--base--spaces--10);
  border-bottom: 1px solid var(--base--color--grey-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: var(--base--spaces--6);
  @media (max-width: 645px) {
    padding: var(--base--spaces--6) var(--base--spaces--4);
  }
  .leftHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 15px;
  }
}
