.uibutton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--base--spaces--3) var(--base--spaces--7);
  border-radius: 30px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: none;
  min-width: 100px;
  font-size: var(--base--font--size-md);
  line-height: 1.3;
  @media (max-width: 768px) {
    min-width: 80px;
    padding: var(--base--spaces--2) var(--base--spaces--4);
  }
  a,
  span {
    transition: all 0.3s ease-in-out;
  }
  svg {
    margin-right: var(--base--spaces--2);
    font-size: var(--base--font--size);
  }
  &:hover {
    color: var(--base--color--white);
    a,
    span {
      color: var(--base--color--white);
    }
  }
  &.active {
    color: var(--base--color--white);
    a,
    span {
      color: var(--base--color--white);
    }
  }
  :global {
    .count {
      margin: 0 0 0 10px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      min-width: 20px;
      min-height: 20px;
      background-color: transparent;
    }
  }
}

.text {
  background-color: transparent;
  color: var(--base--color--grey-6);
  padding: 0;
  @media (max-width: 576px) {
    font-size: var(--base--font--size-sm);
  }

  a,
  span {
    color: var(--base--color--grey-6);
  }
  &:hover {
    color: var(--base--color--black-2);
    a,
    span {
      color: var(--base--color--black-2);
    }
  }
  :global {
    .count {
      color: var(--base--color--white);
      background-color: var(--base--color--grey-6);
    }
  }
}

//Contained Variant
.contained {
  color: var(--base--color--black);
  background-color: var(--base--color--grey-2);
  :global {
    .count {
      color: var(--base--color--white);
      background-color: var(--base--color--grey-2);
    }
  }
  &:hover {
    background-color: var(--base--color--black);
    :global {
      .count {
        color: var(--base--color--white);
        background-color: var(--base--color--black);
      }
    }
  }
  &.active {
    background-color: var(--base--color--black);
  }
}

.contained.orange {
  background-color: var(--base--color--orange);
  color: var(--base--color--white);
  :global {
    .count {
      color: var(--base--color--orange);
    }
  }
  a,
  span {
    color: var(--base--color--white);
  }
  &:hover {
    background-color: var(--base--color--orange-2);
  }
  &.active {
    background-color: var(--base--color--yellow);
  }
}

.contained.green {
  background-color: var(--base--color--green);
  color: var(--base--color--white);
  :global {
    .count {
      color: var(--base--color--green);
    }
  }
  a,
  span {
    color: var(--base--color--white);
  }
  &:hover {
    background-color: var(--base--color--green-2);
  }
  &.active {
    background-color: var(--base--color--green-2);
  }
}

.contained.black {
  background-color: var(--base--color--black);
  color: var(--base--color--white);
  :global {
    .count {
      color: var(--base--color--black);
    }
  }
  a,
  span {
    color: var(--base--color--white);
  }
  &:hover {
    background-color: var(--base--color--black-2);
  }
  &.active {
    background-color: var(--base--color--black-2);
  }
}

.contained.red {
  background-color: var(--base--color--red);
  color: var(--base--color--white);
  :global {
    .count {
      color: var(--base--color--red);
    }
  }
  a,
  span {
    color: var(--base--color--white);
  }
  &:hover {
    background-color: var(--base--color--red-2);
  }
  &.active {
    background-color: var(--base--color--red-2);
  }
}

//Outlined Variant
.outlined {
  border: 1px solid var(--base--color--black);
  background-color: var(--base--color--grey-2);
  color: var(--base--color--black);
  :global {
    .count {
      color: var(--base--color--white);
      background-color: var(--base--color--black);
    }
  }
  a,
  span {
    color: var(--base--color--black);
  }
  &:hover {
    background-color: var(--base--color--black);
    color: var(--base--color--white);
    :global {
      .count {
        color: var(--base--color--black);
        background-color: var(--base--color--white);
      }
    }
    a {
      color: var(--base--color--white);
    }
  }
  &.active {
    background-color: var(--base--color--black);
  }
}

.outlined.orange {
  border: 1px solid var(--base--color--orange);
  background-color: var(--base--color--grey-2);
  color: var(--base--color--orange);
  :global {
    .count {
      color: var(--base--color--white);
      background-color: var(--base--color--orange);
    }
  }
  a,
  span {
    color: var(--base--color--orange);
  }
  &:hover {
    background-color: var(--base--color--orange);
    color: var(--base--color--white);
    a {
      color: var(--base--color--white);
    }
    :global {
      .count {
        color: var(--base--color--orange);
        background-color: var(--base--color--white);
      }
    }
  }
  &.active {
    background-color: var(--base--color--orange);
  }
}

.outlined.green {
  border: 1px solid var(--base--color--green);
  background-color: var(--base--color--grey-2);
  color: var(--base--color--green);
  :global {
    .count {
      color: var(--base--color--white);
      background-color: var(--base--color--green);
    }
  }
  a,
  span {
    color: var(--base--color--green);
  }
  &:hover {
    background-color: var(--base--color--green);
    color: var(--base--color--white);
    :global {
      .count {
        color: var(--base--color--green);
        background-color: var(--base--color--white);
      }
    }
    a {
      color: var(--base--color--white);
    }
  }
  &.active {
    background-color: var(--base--color--green);
  }
}

.outlined.red {
  border: 1px solid var(--base--color--red);
  background-color: var(--base--color--grey-2);
  color: var(--base--color--red);
  :global {
    .count {
      color: var(--base--color--white);
      background-color: var(--base--color--red);
    }
  }
  a,
  span {
    color: var(--base--color--red);
  }
  &:hover {
    background-color: var(--base--color--red);
    color: var(--base--color--white);
    :global {
      .count {
        color: var(--base--color--red);
        background-color: var(--base--color--white);
      }
    }
    a {
      color: var(--base--color--white);
    }
  }
  &.active {
    background-color: var(--base--color--red);
  }
}
