.cartTotal {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  padding: var(--base--spaces--10) 0;
}
.count,
.price {
  span {
    font-size: 22px;
  }
}

.count {
  .num {
    font-weight: 800;
  }
}

.price {
  .num {
    font-weight: 800;
    color: var(--base--color--orange);
  }
}
